@using DrewBrasher.OrchardCore.ContentWarning.Models
@using Microsoft.AspNetCore.Html
@using OrchardCore.ContentManagement
@{
	var part = ((ContentItem)Model.ContentItem).As<ContentWarningPart>();
}
<style asp-src="~/DrewBrasher.OrchardCore.ContentWarning/ContentWarning.css"></style>

<div data-content-warning="@part.WarningMessage">
	@await DisplayAsync((IHtmlContent)Model.Metadata.ChildContent)
</div>

<script asp-src="~/DrewBrasher.OrchardCore.ContentWarning/ContentWarning.js" at="Foot"></script>