@using DrewBrasher.OrchardCore.ContentWarning.Models
@using Microsoft.AspNetCore.Html
@using OrchardCore.ContentManagement
@{
	var part = ((ContentItem)Model.ContentItem).As<ContentWarningPart>();
}

<div data-content-warning="@part.WarningMessage">
	<button class="btn btn-default btn-sm float-start cw-rehide" aria-label="re-hide content"><i class="fa-solid fa-eye-slash"></i></button>
	@await DisplayAsync((IHtmlContent)Model.Metadata.ChildContent)
</div>