@using DrewBrasher.OrchardCore.Blazor.Model
@using RazorDemo
<enable-blazor-components render-mode="ServerPrerendered" />
<p>Hello from the view</p>
<component type="typeof(DemoComponent)" render-mode="ServerPrerendered" />